ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.column3 li {
display: block;
width: 33%;
float: left;
margin: 0;
padding: 0;
}

.column3 li div {
    border-radius: 25px;
    background: #70FADD;
    padding: 20px; 
    margin: 20px;
    min-height: 200px;
}

.column2 li {
    display: block;
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
}

.column2 li div {
    background: #FAD470;
    padding: 20px;
    margin: 20px;
    min-height: 200px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    text-transform: uppercase;
    color: #FFEF6D;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    display: block;
}

.header {
    background-color: black;
    padding: 60px;
    width: 100%;
    height: 50%;
    background-position: center;
    background-size: cover;
}

.nav {
    overflow: hidden;
    background-color: gray;
    position: absolute;
    width: 100%;
    top: 0;
}

.nav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}
h3 {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0 25px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


#bottom-container {
    clear: both;
    position: relative;
    top: 300px;
}

#bottom-left,
#bottom-right {
    box-sizing: border-box;
    display: block;
    float: left;
    padding: 25px;
    width: 50%
}

#bottom-right img {
    max-width: 250px;
    margin: 0 auto;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #4B4461;
    color: white;
    text-align: center;
 }
    